@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@layer base {
  body {
    word-break: keep-all;
  }

  .prose :where(h1, h2, h3, h4, h5, h6, code, a) {
    overflow-wrap: anywhere;
    word-break: normal;
  }
}
